{
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$"]
      }
    ],
    ["styled-components", { "ssr": true, "displayName": true }]
  ],
  "presets": ["next/babel"]
}
